<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Mon appli de description des monuments</title>
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.min.css" 
 th:href="@{https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.min.css}" />
</head>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="example-wrapper" >
<div class="form-group row">

<h6>Pour verifier la distance entrez deux monuments: </h6>


   <form class="form-inline my-2 my-lg-0"  th:action=@{/distance} method="get">
      <input class="form-control mr-sm-2" type="text" name="codeM"  placeholder="code monument"/>
       <input class="form-control mr-sm-2" type="text" name="codeM"  placeholder="un autre code monument"/>
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">calculer</button>
    </form>
  <table>  
   <thead>
    <tr th:action="@{/distance}">
  
      <td>la distance entre ces deux monument est</td>
      
    </tr>
    </thead>
 <tbody>
    <tr th:if="${distance}">
 	
 	<td th:text="${distance.nomM}"></td>
 	
 </tr>
 </tbody>
 </table>
</div>
</div>

</html>